{% from "macros/svgs.html" import play_icon,fp_logo,orange_logo %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>John Sabatico Portfolio</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/js.css') }}"/>
    
</head>
<body class="bg-fixed">
    <!-- Header -->
    <header class="header">
        <div class="brand">
            <img src="{{ url_for('static', filename='images/portrait_logo.png') }}" alt="John Sabatico profile picture" class="profile-pic">
            <span class="brand_name font_title">John Sabatico (est '85)</span>
        </div>
        <div class="menu_icon">
            <a class="menu_item font_title" href="#projects">Dev Projects</a>
            <a class="menu_item font_title" href="#companies">Career Path</a>
        </div>
    </header>

    <!-- Main content -->
    <main class="main-content pt-24">

        <!-- Section 1 -->
        <section class="viewport-height center-content">
            <div class="text-center">
                <div id="upperText" class="text upper font_title"></div>
                <div id="lowerText" class="text lower font_mega"></div>
            </div>
        </section>

        <!-- Section 2 -->
        <section class="viewport-height center-content bg-transparent">
            <div class="content px-6 vertical">
                <div class="left__about">
                    <img class="image_border" src="{{ url_for('static', filename='images/portrait.png') }}" alt="John Sabatico profile picture" >
                    <br>
                    <a class="font_normal link " href="{{ url_for('static', filename='docs/Sabatico_resume.docx') }}">Check my resume</a>
                </div>
                <div class="right__about">
                    <p class=" font_normal--title">Hi, I'm John Sabatico</p>
                    <br>
                    <p class="muted font_normal">I am that "Jack of all trades, but master of none".</p>  
                    <p class="muted font_normal">I am also the problem solver and the firefighter each team needs.</p>
                    <br>
                    <p class="muted font_normal">Good at most jobs but best at none. </p>
                    <p class="muted font_normal">Each team has a star to elad it, and then good performs to bring value. I'm the second.</p>
                    <br>
                    <p class="muted font_normal">#softwaredevelopmet #datasecurity #teamleading #systemsadministration #sales #presales #professionalservices</p>
                    <br>
                    
                </div>
            </div>
        </section>

        <!-- Section 3 -->
        <section id="projects" class="viewport-height center-content bg-transparent">
            <div class="section_titles">
                <p class="title-container font_normal muted spaced">
                PORTFOLIO
                </p>
                <p class="font_mega"> My projects so far</p>
            </div>
            <div class="content px-6 vertical">
                <div class="left__about">
                    <img id="element1" class="image_border hover-pointer" data-image-url="{{ url_for('static', filename='images/dlpprobe.png') }}" src="{{ url_for('static', filename='images/dlpprobe_thumb.png') }}" alt="dlpprobe.com" >
                    <br>
                    <img id="element2" class=" image_border hover-pointer" data-image-url="{{ url_for('static', filename='images/dlpprobe1.png') }}" src="{{ url_for('static', filename='images/dlpprobe_thumb1.png') }}" alt="dlpprobe.com" >
                    <br>
                    <div class="icons_container">
                        <a href="https://www.youtube.com/watch?v=VIDEO_ID" >{{play_icon("play__icon")}} </a>
                        <a class="link" href="https:/dlpprobe.com" target="_blank">dlpprobe.com</a>
                    </div>
                    </div>
                <div class="right__about">
                    <p class="muted small">website & web-app</p>
                    <p class="font_title">DLP testing and test automation tool</p>
                    <br>
                    <p class="muted font_normal">Concise, tailored, easy to use website for DLP professionals. Ensures quick ad-hoc testing and provides endpoint automation means for scheduled jobs. </p>
                    <br> <br>
                    <p class="muted font_normal">Tech stack:</p>
                        <ul>
                            <li class="bullets muted font_normal">Back: Python, Flask, FastAPI, SQLAlchemy (Postgres)</li>
                            <li class="bullets muted font_normal">Front: Jinja2, vanilla JS</li>
                            <li class="bullets muted font_normal">Endpoint app: Python, Flask, Electron, Selenium WebDriver</li>
                        </ul>
                    
                    <br>
                    
                </div>
            </div>
            <div class="content px-6 vertical">
                
                <div class="right__about">
                    <p class="muted small">website</p>
                    <p class="font_title">Forcepoint Appliances Management Tool</p>
                    <br>
                    <p class="muted font_normal">Feature rich web server with means for centralized appliances managemenet. Ansible like. Uses SSH to interact with remote systems</p>
                    <br> <br>
                    <p class="muted font_normal">Tech stack:</p>
                        <ul>
                            <li class="bullets muted font_normal">Back: Python, Flask, Celery, SQLite</li>
                            <li class="bullets muted font_normal">Front: Jinja2, vanilla JS</li>
                        </ul>
                    
                </div>
                <div class="left__about">
                    <img id="element3" class="image_border hover-pointer" data-image-url="{{ url_for('static', filename='images/appliance.png') }}" src="{{ url_for('static', filename='images/appliance_thumb.png') }}" alt="Appliance Tool" >
                    <br>
                    <img id="element4" class="image_border hover-pointer" data-image-url="{{ url_for('static', filename='images/appliance1.png') }}" src="{{ url_for('static', filename='images/appliance_thumb1.png') }}" alt="Appliance Tool" >
                    <br>
                    <div class="icons_container">
                        <a href="https://www.youtube.com/watch?v=VIDEO_ID" >{{play_icon("play__icon")}} </a>
                    </div>
                </div>
            </div>
            <div class="content px-6 vertical">
                <div class="left__about">
                    <!--<img id="element5" class="image_border hover-pointer" data-image-url="{{ url_for('static', filename='images/logoped.png') }}" src="{{ url_for('static', filename='images/logoped_thumb.png') }}" alt="Private Tutor Scheduler" >
                    <br> -->
                    <img id="element6" class="image_border hover-pointer" data-image-url="{{ url_for('static', filename='images/logoped1.png') }}" src="{{ url_for('static', filename='images/logoped_thumb1.png') }}" alt="Private Tutor Scheduler" >
                    <br>
                    <div class="icons_container">
                        <a href="https://www.youtube.com/watch?v=VIDEO_ID" >{{play_icon("play__icon")}} </a>
                        <a class="link" href="https:/logoped.tptexas.us" target="_blank">logoped.tptexas.us</a>
                    </div>
                </div>
                <div class="right__about">
                    <p class="muted small">website</p>
                    <p class="font_title">Private Tutors' Assistant</p>
                    <br>
                    <p class="muted font_normal">Tailored portal for private tutors. Easy students scheduling, homework planning and payments tracking</p>
                    <br> <br>
                    <p class="muted font_normal">Tech stack:</p>
                        <ul>
                            <li class="bullets muted font_normal">Back: Python, Flask, MongoDB, Babel</li>
                            <li class="bullets muted font_normal">Front: Jinja2</li>
                        </ul>
                    
                    <br>
                    
                </div>
            </div>
            <div class="content px-6 vertical">
                
                <div class="right__about">
                    <p class="muted small">Win.App</p>
                    <p class="font_title">Forcepoint Endpoints TS Tool</p>
                    <br>
                    <p class="muted font_normal">Native app that helps quickly troubleshoot Forcepoint DLP Endpoints. Logs parser, config management, services checks, etc. </p>
                    <br> <br>
                    <p class="muted font_normal">Tech stack:</p>
                        <ul>
                            <li class="bullets muted font_normal">APP: Python, Tkinter, SQLite</li>
                        </ul>
                    
                    <br>
                    <a href="https://www.youtube.com/watch?v=VIDEO_ID" >{{play_icon("play__icon")}} </a>
                </div>
                <div class="left__about">
                </div>
            </div>
        </section>

        <!-- Section 4 -->
        <section id="companies" class="viewport-height center-content bg-transparent">
            <div class="section_titles">
                <p class="title-container font_normal muted spaced">
                CAREER
                </p>
                <p class="font_mega"> companies i worked for</p>
            </div>
            <div class="companies-container">
                <div class="companies-current">
                     <div class="current_title font_title">
                    current love:
                    </div>
                    <div class="fp_logo">
                    {{fp_logo ()}}
                    </div>
                </div>
                <div class="companies-exes">
                    <div class="exes_title muted font_normal">
                    Exs:
                    </div>
                    <div class="exes-list">
                        <div class="">{{orange_logo ("orange_logo")}}</div>
                        <img id="job3" src="{{ url_for('static', filename='images/medpark.png') }}" alt="Medpark" class="company_logo_png">
                        <div class="exes_title muted font_normal">
                            &nbsp and a few more ...
                        </div>
                        
                    </div>
                    
                </div>
            </div>

        

        </section>
    <div id="overlay" class="overlay">
        <div class="job_image" alt="Image" id="overlayImage">img</div>
        <p id="overlayText">Text goes here</p>
    </div>
    <div id="imageOverlay" style="display: none;">
        <img id="overlayImage1" src="" alt="Overlay Image">
    </div>

    </main>

    <!-- Footer -->
    <footer class="footer">
        <!-- Content here -->
    </footer>
    <!--- image overlay, 2 lines script --->
    
    <script src="/static/js/imageOverlay.js"></script>
    
    <script src="/static/js/textFader.js"></script>
    <script src="/static/js/jobsOverlay.js"></script>
</body>
</html>
