{% from "macros/svgs.html" import play_icon, fp_logo, orange_logo %}
{% from "macros/projects.html" import job_image_div_1, job_description_div_1,job_image_div_2, job_description_div_2, job_image_div_3, job_description_div_3,job_image_div_4, job_description_div_4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>John Sabatico Portfolio</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/js.css') }}"/>
    
</head>
<body class="bg-fixed">
    <!-- Header -->
    <header class="header">
        <div class="brand">
            <img src="{{ url_for('static', filename='images/portrait_logo.png') }}" alt="John Sabatico profile picture" class="profile-pic">
            
            <span class="brand_name font_title desktop">John Sabatico (est '85)</span>
            <span class="brand_name font_title mobile">John Sabatico</span>
        </div>
        <div class="menu_icon">
            <a class="menu_item font_title link desktop" href="#projects">Dev Projects</a>
            <a class="menu_item font_title link desktop" href="#companies">Career Path</a>
            <a class="menu_item font_title link desktop" href="{{ url_for('static', filename='docs/Sabatico_resume.docx') }}">Resume</a>
        </div>
    </header>

    <!-- Main content -->
    <main class="main-content pt-24">

        <!-- Section 1 -->
        <section class="viewport-height center-content">
            <div class="text-center">
                <div id="upperText" class="text upper font_title"></div>
                <div id="lowerText" class="text lower font_mega"></div>
            </div>
        </section>

        <!-- Section 2 -->
        <section class="viewport-height center-content bg-transparent">
            <div class="content px-6 vertical">
                <div class="job_image_half">
                    <img class="image_border" src="{{ url_for('static', filename='images/portrait.png') }}" alt="John Sabatico profile picture" >
                    <br>
                    <a class="font_normal link " href="{{ url_for('static', filename='docs/Sabatico_resume.docx') }}">Check my resume</a>
                </div>
                <div class="job_desc_half">
                    <p class=" font_normal--title">Hi, I'm John Sabatico</p>
                    <br>
                    <p class="muted font_normal">I am that "Jack of all trades, but master of none".</p>  
                    <p class="muted font_normal">I am also the problem solver and the firefighter each team needs.</p>
                    <br>
                    <p class="muted font_normal">Good at most jobs but best at none. </p>
                    <p class="muted font_normal">Each team has a star to elad it, and then good performs to bring value. I'm the second.</p>
                    <br>
                    <p class="muted font_normal">#softwaredevelopmet #datasecurity #teamleading #systemsadministration #sales #presales #professionalservices</p>
                    <br>
                    
                </div>
            </div>
        </section>

        <!-- Section 3 -->
        <section id="projects" class="viewport-height center-content bg-transparent">
            <div class="section_titles">
                <p class="title-container font_normal muted spaced">
                PORTFOLIO
                </p>
                <p class="font_mega"> My finished projects</p>
            </div>
            <div class="content px-6 vertical">
                {{ job_image_div_1() }}
                {{ job_description_div_1() }}
            </div>
            <div class="content px-6 vertical">
                {{ job_image_div_2() }}
                {{ job_description_div_2() }}
            </div>
            <div class="content px-6 vertical">
                {{ job_image_div_3() }}
                {{ job_description_div_3() }}
            </div>
            <div class="content px-6 vertical">
                {{ job_image_div_4() }}
                {{ job_description_div_4() }}
            </div>
        </section>

        <!-- Section 4 -->
        <section id="companies" class="viewport-height center-content bg-transparent">
            <div class="section_titles">
                <p class="title-container font_normal muted spaced">
                CAREER
                </p>
                <p class="font_mega"> companies I worked for</p>
            </div>
            <div class="companies-container">
                <div class="companies-current">
                    <div class="current_title font_title">
                    Current love:
                    </div>
                    <div class="fp_logo">
                    {{fp_logo ()}}
                    </div>
                </div>
                <div class="companies-exes">
                    <div class="exes_title muted font_normal">
                    Former:
                    </div>
                    <div class="exes-list">
                        <div class="">{{orange_logo ("orange_logo")}}</div>
                        <img id="job3" src="{{ url_for('static', filename='images/medpark.png') }}" alt="Medpark" class="company_logo_png">
                        <div class="exes_title muted font_normal desktop">
                            &nbsp and a few more ...
                        </div>
                        
                    </div>
                    
                </div>
            </div>

        

        </section>
    <div id="overlay" class="overlay">
        <div class="job_image" alt="Image" id="overlayImage">img</div>
        <p id="overlayText">Text goes here</p>
    </div>
    <div id="imageOverlay" style="display: none;">
        <img id="overlayImage1" src="" alt="Overlay Image">
    </div>

    </main>

    <!-- Footer -->
    <footer class="footer">
        <!-- Content here -->
    </footer>
    <!--- image overlay, 2 lines script --->
    
    <script src="/static/js/imageOverlay.js"></script>
    
    <script src="/static/js/textFader.js"></script>
    <script src="/static/js/jobsOverlay.js"></script>
</body>
</html>
